body{
margin:0;
font-family:Arial, sans-serif;
background:#eef6ff;
text-align:center;
}

header{
background:#1976d2;
color:white;
padding:15px;
}

#status{
margin:15px;
font-size:18px;
font-weight:bold;
}

#info{
font-size:18px;
margin-bottom:10px;
}

#map{
width:90%;
height:500px;
margin:auto;
border:3px solid #1976d2;
border-radius:10px;
}

#buttons{
margin:20px;
}

button{
font-size:18px;
padding:10px 20px;
margin:10px;
border:none;
border-radius:10px;
cursor:pointer;
background:#1976d2;
color:white;
}

button:hover{
background:#1259a7;
}

#message{
margin:20px;
font-size:20px;
font-weight:bold;
color:#d32f2f;
}